img {
  height: 20vmin;
  border: 1px solid #000;
}

.App {
  text-align: center;
}

.btn {
  background-color: transparent;
  border-radius: 2em;
  border: 0.2em solid #1ecd97;
  color: #1ecd97;
  cursor: pointer;
  font-size: 3vmin;
  padding: 0.7em 1.5em;
  text-transform: uppercase;
  transition: all 0.25s ease;
}

.btn:hover {
  background: #1ecd97;
  color: #333;
}

.spotify-box {
  background-color: rgb(73, 67, 67);
  border: 2px solid #000;
  border-radius: 15px;
  -moz-border-radius: 15px;
  margin-top: 30px;
  padding: 4px;
}

header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
